<% title "Info" %>
<h1>Info#contact</h1>
<p><i>Querci</i> is a web application that makes it easier to create, view and edit grammatical dependency treebanks. It was conceived to assist the work of the Perseus Project and others.</p>
<p><i>Querci</i> provides:
<ul>
  <li>A graphical view of the tree model</li>
  <li>An easy and intuitive drag-and-drop interface to express the relations between nodes of the tree</li?
</ul>
