<div id="text">
<p><i>Querci</i> is a web application that makes it easier to create, view and edit dependency treebanks. 
It replaces  this:
<pre style="background-color: white;"><![CDATA[<word id="1" form="qui" lemma="qui1" postag="p-p---mn-" head="9" relation="SBJ" />
<word id="2" form="minus" lemma="parvus1" postag="d--------" head="3" relation="ADV" />
<word id="3" form="facile" lemma="facilis1" postag="d--------" head="8" relation="ADV" />
<word id="4" form="eam" lemma="is1" postag="p-s---fa-" head="5" relation="ATR" />]]></pre>
with this: 
</p>

<svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 120 210" height="210pt" width="120pt" xmlns="http://www.w3.org/2000/svg">
<g id="graph0" class="graph" transform="scale(1, 1) rotate(0) translate(4, 206)">
<title>G</title>
<polygon points="-4,4 -4,-206 116,-206 116,4 -4,4" style="fill: white; stroke: white;"/>
<g id="SVG_224223907" class="node" onmouseover="highlightText(224223907);" onmouseout="deHighlightText(224223907);" onclick="deleteFromSVG224223907();">
<title>224223907</title>
<text x="11" text-anchor="middle" y="-98" style="font-family: Georgia; font-size: 8px;">qui</text>
</g>
<g id="SVG_224156260" class="node" onmouseover="highlightText(224156260);" onmouseout="deHighlightText(224156260);" onclick="deleteFromSVG224156260();" fill="black">
<title>224156260</title>
<text x="23" text-anchor="middle" y="-146" style="font-family: Georgia; font-size: 8px;">poterant</text>
</g>
<g id="edge2" class="edge">
<title>224156260->224223907</title>
<path d="M22,-144C20,-136 16,-121 14,-111" style="fill: none; stroke: gray;"/>
<polygon points="15.4818,-109.992 12,-106 12.2322,-111.292 15.4818,-109.992" style="fill: gray; stroke: gray;"/>
<text x="23" text-anchor="middle" y="-123" style="font-family: Arial; font-size: 6px; fill: gray;">SBJ</text>
</g>
<g id="SVG_224223900" class="node" onmouseover="highlightText(224223900);" onmouseout="deHighlightText(224223900);" onclick="deleteFromSVG224223900();">
<title>224223900</title>
<text x="54" text-anchor="middle" y="-98" style="font-family: Georgia; font-size: 8px;">consequi</text>
</g>
<g id="edge16" class="edge">
<title>224156260->224223900</title>
<path d="M26,-144C31,-135 41,-120 48,-110" style="fill: none; stroke: gray;"/>
<polygon points="49.4,-111.05 51,-106 46.6,-108.95 49.4,-111.05" style="fill: gray; stroke: gray;"/>
<text x="43" text-anchor="middle" y="-123" style="font-family: Arial; font-size: 6px; fill: gray;">OBJ</text>
</g>
<g id="SVG_224223906" class="node" onmouseover="highlightText(224223906);" onmouseout="deHighlightText(224223906);" onclick="deleteFromSVG224223906();">
<title>224223906</title>
<text x="14" text-anchor="middle" y="-2" style="font-family: Georgia; font-size: 8px;">minus</text>
</g>
<g id="SVG_224223905" class="node" onmouseover="highlightText(224223905);" onmouseout="deHighlightText(224223905);" onclick="deleteFromSVG224223905();">
<title>224223905</title>
<text x="16" text-anchor="middle" y="-50" style="font-family: Georgia; font-size: 8px;">facile</text>
</g>
<g id="edge4" class="edge">
<title>224223905->224223906</title>
<path d="M16,-48C15,-40 15,-25 14,-15" style="fill: none; stroke: gray;"/>
<polygon points="15.7501,-15 14,-10 12.2501,-15 15.7501,-15" style="fill: gray; stroke: gray;"/>
<text x="22" text-anchor="middle" y="-27" style="font-family: Arial; font-size: 6px; fill: gray;">ADV</text>
</g>
<g id="edge6" class="edge">
<title>224223900->224223905</title>
<path d="M50,-96C44,-87 31,-72 23,-62" style="fill: none; stroke: gray;"/>
<polygon points="24.4,-60.95 20,-58 21.6,-63.05 24.4,-60.95" style="fill: gray; stroke: gray;"/>
<text x="42" text-anchor="middle" y="-75" style="font-family: Arial; font-size: 6px; fill: gray;">ADV</text>
</g>
<g id="SVG_224223903" class="node" onmouseover="highlightText(224223903);" onmouseout="deHighlightText(224223903);" onclick="deleteFromSVG224223903();">
<title>224223903</title>
<text x="54" text-anchor="middle" y="-50" style="font-family: Georgia; font-size: 8px;">rem</text>
</g>
<g id="edge10" class="edge">
<title>224223900->224223903</title>
<path d="M54,-96C54,-88 54,-73 54,-63" style="fill: none; stroke: gray;"/>
<polygon points="55.7501,-63 54,-58 52.2501,-63 55.7501,-63" style="fill: gray; stroke: gray;"/>
<text x="59" text-anchor="middle" y="-75" style="font-family: Arial; font-size: 6px; fill: gray;">OBJ</text>
</g>
<g id="SVG_224223902" class="node" onmouseover="highlightText(224223902);" onmouseout="deHighlightText(224223902);" onclick="deleteFromSVG224223902();">
<title>224223902</title>
<text x="96" text-anchor="middle" y="-50" style="font-family: Georgia; font-size: 8px;">imperio</text>
</g>
<g id="edge12" class="edge">
<title>224223900->224223902</title>
<path d="M58,-96C65,-87 79,-72 88,-62" style="fill: none; stroke: gray;"/>
<polygon points="89.4,-63.05 91,-58 86.6,-60.95 89.4,-63.05" style="fill: gray; stroke: gray;"/>
<text x="80" text-anchor="middle" y="-75" style="font-family: Arial; font-size: 6px; fill: gray;">ADV</text>
</g>
<g id="SVG_224223904" class="node" onmouseover="highlightText(224223904);" onmouseout="deHighlightText(224223904);" onclick="deleteFromSVG224223904();">
<title>224223904</title>
<text x="55" text-anchor="middle" y="-2" style="font-family: Georgia; font-size: 8px;">eam</text>
</g>
<g id="edge8" class="edge">
<title>224223903->224223904</title>
<path d="M54,-48C54,-40 55,-25 55,-15" style="fill: none; stroke: gray;"/>
<polygon points="56.7501,-15 55,-10 53.2501,-15 56.7501,-15" style="fill: gray; stroke: gray;"/>
<text x="60" text-anchor="middle" y="-27" style="font-family: Arial; font-size: 6px; fill: gray;">ATR</text>
</g>
<g id="SVG_224223901" class="node" onmouseover="highlightText(224223901);" onmouseout="deHighlightText(224223901);" onclick="deleteFromSVG224223901();">
<title>224223901</title>
<text x="96" text-anchor="middle" y="-2" style="font-family: Georgia; font-size: 8px;">nostro</text>
</g>
<g id="edge14" class="edge">
<title>224223902->224223901</title>
<path d="M96,-48C96,-40 96,-25 96,-15" style="fill: none; stroke: gray;"/>
<polygon points="97.7501,-15 96,-10 94.2501,-15 97.7501,-15" style="fill: gray; stroke: gray;"/>
<text x="102" text-anchor="middle" y="-27" style="font-family: Arial; font-size: 6px; fill: gray;">ATR</text>
</g>
<g id="SVG_669105702" class="node" onmouseover="highlightText(669105702);" onmouseout="deHighlightText(669105702);" onclick="deleteFromSVG669105702();">
<title>669105702</title>
<text x="23" text-anchor="middle" y="-194" style="font-family: Georgia; font-size: 8px;">HEAD</text>
</g>
<g id="edge18" class="edge">
<title>669105702->224156260</title>
<path d="M23,-192C23,-184 23,-169 23,-159" style="fill: none; stroke: gray;"/>
<polygon points="24.7501,-159 23,-154 21.2501,-159 24.7501,-159" style="fill: gray; stroke: gray;"/>
<text x="29" text-anchor="middle" y="-171" style="font-family: Arial; font-size: 6px; fill: gray;">ExD</text>
</g>
</g>
</svg>


<p>It was conceived to assist the work of the Perseus Project, and any others, who want to build treebank databases with teams of non-experts. (The <a href="http://www.coli.uni-saarland.de/projects/sfb378/negra-corpus/annotate.html">@nnotate</a> editor developed at the Universität des Saarlands is a mature project that would be ideal for experienced editors.)</p>
<p><i>Querci</i> provides:
<ul>
  <li>A graphical view of the tree model</li>
  <li>An easy and intuitive drag-and-drop interface for editing</li>
  <li>Input and output conforming to the Perseus Project's treebank XML schema</li>
  <li>A multi-user environment</li>
  <li>Open-source licensing</li>
</ul>
</p>
<h3>Motivation</h3>
<p>Student-created treebanks offer promising opportunities for undergraduate student research and learning, but encoding them with computer markup languages like XML is laborious and probably distasteful to many students. An
easier-to-use editor should increase the number of researchers working on treebanks, and improve the speed and
accuracy of their work. 
</p>
<h3>Watch It</h3>
<p>Foo</p>
<h3>Try It</h3>
<p>To get started:
<ol>
<li>Either create your <a href="users/new">own account</a> or <a href="session/new">login</a> as the default, 'guest' (password: 'guest').</li>
<li>You will be directed to a collection of texts and sentences. Select one.</li>
<li>Sentences are modeled one at a time. To indicate a relation between two words in the sentence, use the drop-down menu to select the relation, then drag a word and drop it on the other word with which it has that relationship. For instance. in the sentence <code>Gaius amat Iuliam</code>, You would select 'SUBJ', and drag <code>amat</code> onto <code>Gaius</code>. You would then select 'OBJ' and again drag <code>amat</code> onto <code>Iuliam</code>.
<br/>
Notice that for the purposes of treebank building, many sentence elements are treated as words that would not normally be seen as such. Commas and enclitic <code>que</code>
</li>
</ol>
</p>
<h3>Development</h3>
<p><i>Querci</i> is built using the Ruby on Rails framework and some of its standard plugins. It requires that graphviz 'dot' be installed on the server.
The <a href="static/development">development</a> link describes the workings of this webapp, its local configuration and some avenues of improvement.
</p></div>
